body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #BDBDBD;
}

.quem-somos{
    background-color: #585858;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}
.parceiros{

    background-color:brown;
}
.bg-footer{
    background-color: black;
    color: white;
    
}